<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
<h1> Enter your text.</h1>
<form action="analyze_text" method="get">
    <textarea name='text' style="width: 1336px; height: 125px;"> </textarea>
    <input type="checkbox" name="removepunc"> Remove Punctuations<br>
    <input type="checkbox" name="full_cap"> Upper case<br>
    <input type="checkbox" name="capital"> Capitalization<br>
    <input type="checkbox" name="line_remover"> Newline Remover<br>
    <input type="checkbox" name="space_remover"> Space Remover<br>
    <button type="submit">Analyze text</button>
</form>
</body>
</html>